/* =======================
Google Fonts 
=========================*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500&display=swap');

/*========================
Deafault and common CSS
=========================*/
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
header{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1200px;
}
/*======================
Header css start
=======================*/
.top-header{
    display: flex;
    justify-content: space-between;
}
.logo h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.navbar ul li{
    list-style: none;
    display: inline;
    margin-left: 34px;
}
.navbar ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}
.fas{
    font-size: 20px;
}

/*======================
 Main area start
 ======================*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 100px 0;
}
.influencer-details{
    padding-right: 150px;
}
.influencer-details, .influencer-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero-title{
    font-size: 52px;
    Line-height: 70px;
}
.influencer-details p{
    font-size: 16px;;
    line-height: 24px;
    padding: 16px 0;
}

.influencer-img img{
    width: 475px;
}
.prebook-now{
    background-color: #ff6927;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #ff6927;
    padding: 10px 24px;
    border-radius: 41px;
}
.prebook-now:hover{
    background-color: rgba(255, 255, 255, 0);
    transition-delay: 0.2s;
    color: #ff6927;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.prebook-now a{
    text-decoration: none;
    color: #fff;
}
.prebook-now a:hover{
    text-decoration: none;
    color: #ff6927;
}
/*=========================
Client Logo section start 
==========================*/
.client-logos{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 0 40px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.client-logos img{
    padding: 0 20px;
}